* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

/* ----------------3D style--------------------------------- */
.map-info-container {
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.legend-title {
	background: rgba(0, 0, 0, 0.575);
	color: white;
	padding: 20px;
	border-radius: 100px;
	font-size: 32px;
	font-weight: 600;
}

.legend-container {
	background: rgba(0, 0, 0, 0.575);
	color: white;
	width: 80%;
	padding: 20px;
}

.legend-info-title {
	color: white;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.legend-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
}

.legend-info > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.legend-info p {
	font-size: 16px;
}

.red-line {
	height: 3px;
	width: 45px;
	background: #ba0909;
}

.black-line {
	height: 3px;
	width: 45px;
	background: #000000;
}

.blue-line {
	height: 3px;
	width: 45px;
	background: #1322f2;
}

.circle {
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle > span {
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 100%;
}

.red-circle > span {
	background: #ba0909;
}

.black-circle > span {
	background: #000000;
}

.red-black-circle > span {
	background: linear-gradient(to bottom right, #ba0909 0 50%, #000000 50% 100%);
}

.blue-circle > span {
	background: #1322f2;
}

.info-container {
	position: absolute;
	bottom: 10%;
	left: 5%;
	/* right: 5%; */
	display: flex;
	flex-direction: row;
	gap: 60px;
	align-items: end;
	pointer-events: none;
}

.option3D {
	height: 80px;
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 10px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 4px solid #ffffff;
	background-color: #7690c9;
	font-size: 14px;
	padding: 10px;
	pointer-events: auto;
	cursor: pointer;
}

.option3D img {
	transition: all 0.5s ease;
}

.option3D:hover img {
	transform: scale(1.1);
}
